<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.mapper.FileMapper">
	<insert id="insert" parameterType="Myfile">
		INSERT INTO FILE_REPOSITORY(ORIGINAL_NAME, SAVED_PATH)
		VALUES(#{originalName}, #{savedPath})
	</insert>

	<select id="select" parameterType="Integer" resultMap="fileResultMap">
		SELECT * FROM FILE_REPOSITORY
		WHERE FILE_NUM=#{fileNum}
	</select>

	<select id="selectAll" resultMap="fileResultMap">
		SELECT * FROM FILE_REPOSITORY
	</select>

	<resultMap type="Myfile" id="fileResultMap">
		<result column="FILE_NUM" property="fileNum" />
		<result column="ORIGINAL_NAME" property="originalName" />
		<result column="SAVED_PATH" property="savedPath" />
	</resultMap>
</mapper>