<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xml_interface.PhoneMapper">
<insert id="insertPhone" parameterType="Phone" useGeneratedKeys="true" keyColumn="num" keyProperty="num">
insert into Phone(num,model,title,PUBLISHER,PRICE) 	VALUES(BOOK_SEQ.NEXTVAL, 'k', 'k','k', 50000);
</insert>
















</mapper>